<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Emissão de ordem de serviço número: <%= @service_order.id %></h1>
    <p>
      Obrigado <%= @service_order.customer.name %> pela preferência.<br>
    </p>
    <p>
      Qualquer dúvida, estamos a disposição
    </p>

    <%= image_tag attachments['logo.jpg'].url %>

    <p>
      <strong>Telefone: <%= @company.phone %> / <%= @company.phone2 %></strong>      
    </p>
    <p>
      <strong>Endereço: <%= @company.address %><%= @company.address_number.nil? ? "" : ", " + @company.address_number.to_s %><%= @company.address_neighborhood.nil? ? "" : " - " + @company.address_neighborhood.to_s %></strong>      
    </p>
    <p>
      <strong>Email: <%= @company.email %></strong>
    </p>
  </body>
</html>