<div class="row">
  <div class="col-lg-10">

    <%= form_for(@user, html: {role: "form"}) do |f| %>
      
      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @user.errors[:full_name].empty?) ? "has-error" : "" %>">
            <%= f.label :full_name, "Nome completo", :class => "control-label" %>
            <% if (@user.errors[:full_name].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :full_name , :class => "form-control", :placeholder => "Nome completo"%>
            <% if (not @user.errors[:full_name].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @user.errors[:full_name].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @user.errors[:email].empty?) ? "has-error" : "" %>">
            <%= f.label :email, "Email", :class => "control-label" %>
            <% if (@user.errors[:email].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :email , :class => "form-control", :placeholder => "Email"%>
            <% if (not @user.errors[:email].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @user.errors[:email].first %>
            </p>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-lg-6 has-feedback <%= (not @user.errors[:password].empty?) ? "has-error" : "" %>">
            <%= f.label :password, "Senha", :class => "control-label" %>
            <% if (@user.errors[:password].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.password_field :password, class: "form-control" , :autocomplete => :off, :class => "form-control" %>
            <% if (not @user.errors[:password].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @user.errors[:password].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @user.errors[:password_confirmation].empty?) ? "has-error" : "" %>">
            <%= f.label :password_confirmation, "Confirme a Senha", :class => "control-label" %>
            <% if (@user.errors[:password_confirmation].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.password_field :password_confirmation, class: "form-control" , :autocomplete => :off, :class => "form-control" %>
            <% if (not @user.errors[:password_confirmation].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @user.errors[:password_confirmation].first %>
            </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @user.errors[:phone].empty?) ? "has-error" : "" %>">
            <%= f.label :phone, "Telefone", :class => "control-label" %>
            <%= f.text_field :phone , :class => "form-control phone"%>
            <% if (not @user.errors[:phone].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @user.errors[:phone].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @user.errors[:cel_phone].empty?) ? "has-error" : "" %>">
            <%= f.label :cel_phone, "Celular", :class => "control-label" %>
            <%= f.text_field :cel_phone , :class => "form-control phone"%>
            <% if (not @user.errors[:cel_phone].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @user.errors[:cel_phone].first %>
            </p>
        </div>
      </div>

      <% if (policy(User).index?) %>
        <div class="form-group">
          <label>Perfils</label>
          <% Role.all_but_admin.each do |role| -%>
            <div class="checkbox">
              <label>
                <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :id => "#{role.id}" %>
                <%= role.name %>
              </label>
            </div>
          <% end %>
        </div>
      <% end %>

     <hr>
      <%= f.button :submit, class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."} do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>

      <% if(@user.id?) %>
         <%=  link_to @user , :class => "btn btn-success" do %> 
          <i class="fa fa-eye"></i> Exibir
         <% end %>
      <% end %>

      <% if (policy(User).index?) %>
        <%= link_to users_path, :class => "btn btn-default" do %>
            <i class="fa fa-list-ul"></i> Listar Usuários
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  formatarTelefone(".phone");
</script>
<%= render 'layouts/loading_modal' %>
