<div class="row">
  <div class="col-lg-12">
	<h1 class="hidden-sm hidden-xs">Editar Usuário</h1>
	<br class="visible-xs-* visible-md-*" />
	<ol class="breadcrumb">
	  <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
	  <li class="<%= policy(User).index? ? "" : "active" %>">
	  	<i class="fa fa-user"></i> 
	  	<% if (policy(User).index?) %>
	  		<%= link_to 'Usuários', users_path %>
	  	<% else %>
	  		Usuários
	  	<% end %>
	  </li>
	  <li class="active"><i class="fa fa-pencil-square-o"></i> Editar</li>
	</ol>
	<hr/>
  </div>
</div>
<%= render 'form' %>
