<h1 class="hidden-sm hidden-xs">Lista de Usuários</h1>

<br class="visible-xs-* visible-md-*" />

<ol class="breadcrumb">
  <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-user"></i> Usuários</li>
</ol>
<hr/>

<%= link_to new_user_path , :class => "btn btn-primary" do %>
  <i class="fa fa-user"> Novo</i>
<% end %>
<br/><br/>
<!-- por causa do mobile <div class="table-responsive"> -->

  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="hidden-sm hidden-xs">Email</th>
        <th>Nome</th>
        <th class="hidden-sm hidden-xs">Telefone</th>
        <th class="hidden-sm hidden-xs">Celular</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="hidden-sm hidden-xs"><%= user.email %></td>
          <td><%= user.full_name %></td>
          <td class="hidden-sm hidden-xs"><%= user.phone %></td>
          <td class="hidden-sm hidden-xs"><%= user.cel_phone %></td>
          <td class="last">
            <div class="btn-group dropup btn-group-table">
              <button type="button" class="btn btn-success" data-toggle="dropdown">Ações</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                 <li><%= link_to user do %><i class="fa fa-eye"> Exibir</i><% end %></li>
                 <li><%= link_to edit_user_path(user) do%><i class="fa fa-edit"> Editar</i><% end %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--</div>-->
<div class="row-fluid" align="center">
  <%= will_paginate @users,next_label: "»",previous_label: "«", renderer: BootstrapPagination::Rails%>
</div>
<br>

<%= link_to new_user_path , :class => "btn btn-primary" do %>
<i class="fa fa-user"> Novo</i>
<% end %>
