<h1 class="hidden-sm hidden-xs">Visualizar Usuário</h1>
<br class="visible-xs-* visible-md-*" />
<ol class="breadcrumb">
  <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="<%= policy(User).index? ? "" : "active" %>">
  	<i class="fa fa-user"></i> 
  	<% if (policy(User).index?) %>
  		<%= link_to 'Usuários', users_path %>
  	<% else %>
  		Usuários
  	<% end %>
  </li>
  <li class="active"><i class="fa fa-eye"></i> Visualizar</li>
</ol>
<hr/>
<div class="row">
  <% if (notice) %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<i class="fa fa-user"></i> <%= notice %>
	</div>
  <% end %>
  
  <div class="col-lg-4">
	<div class="form-group-sm">
		<label class="col-lg-4-sm control-label">Nome:</label>
	  	<span class="form-control-static"><%= @user.full_name %></span>
	</div>
	
	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Email:</label>
	  	<span class="form-control-static"><%= @user.email %></span>
	</div>
	
	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Telefone:</label>
	  	<span class="form-control-static"><%= @user.phone %></span>
	</div>
	
	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Celular:</label>
	    <span class="form-control-static"><%= @user.cel_phone %></span>
	</div>

	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Criado em:</label>
	    <span class="form-control-static"><%= l(@user.created_at, :format => :long) %></span>
	</div>

	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Atribuições:</label>
	    <ul>
	    	<% @user.roles.each do |r| %>
	    		<li><span class="form-control-static"><%= r.name %></span></li>
	    	<% end %>
	    </ul>
	    
	</div>

  </div>
</div>
<hr/>
<%= link_to  edit_user_path(@user), :class => "btn btn-primary" do %>
	<i class="fa fa-edit"></i> Editar
<% end %>

<% if (policy(User).index?) %>
	<%= link_to users_path, :class => "btn btn-default"  do %>
		<i class="fa fa-list-ul"></i> Listar Usuários
	<% end %>
<% end %>