<div class="row">
  	<div class="col-lg-6" align="left">

		<h2>Esqueceu a senha?</h2>

		<h5>Será enviado um email com instruções para alteração de senha</h5>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

		  <div class="form-group has-feedback <%= resource.errors[:email].count >= 1 ? "has-error" : "" %>">
		    <label class="control-label">Email</label>
		    <%= f.email_field :email, placeholder: 'Email', :class => "form-control",  autofocus: true %>
		    <% if (resource.errors[:email].count >= 1) %>
		      <span class="fa fa-times form-control-feedback"></span>
		    <% end %>
		    <p class="help-block">
		  	  <%= resource.errors[:email].first %>
		    </p>
		  </div>

		  <button class="btn btn-primary">
		   	<i class="fa fa-mail-forward"></i> Enviar
		  </button>
		<% end %>
		<hr/>
		<%= render "devise/shared/custom_links" %>
	</div>
</div>
