

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Mecânica Bálsamo Benz</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @customer_count %></div>
                                        <div><%= link_to new_customer_path ,class: "link-dash" do %>Novo Cliente<% end %></div>
                                    </div>
                                </div>
                            </div>
                            <%= link_to customers_path do %>
                                <div class="panel-footer">
                                    <span class="pull-left">Lista de Clientes</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-truck fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @vehicle_count %></div>
                                        <div><%= link_to new_vehicle_path ,class: "link-dash" do %>Novo Veículo<% end %></div>
                                    </div>
                                </div>
                            </div>
                            <%= link_to vehicles_path do %>
                                <div class="panel-footer">
                                    <span class="pull-left">Lista de Veículos</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <% if (policy(User).index?) %>
                        <div class="col-lg-3 col-md-6">
                            <div class="panel panel-yellow">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-user fa-5x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"><%= @user_count %></div>
                                            <div><%= link_to new_user_path ,class: "link-dash" do %>Novo Usuário<% end %></div>
                                        </div>
                                    </div>
                                </div>
                                <%= link_to users_path do %>
                                    <div class="panel-footer">
                                        <span class="pull-left">Lista de Usuários</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-file-text fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"><%= @service_order_count %></div>
                                        <div><%= link_to new_service_order_path ,class: "link-dash" do %>Nova OS<% end %></div>
                                    </div>
                                </div>
                            </div>
                            <%= link_to service_orders_path do %>
                                <div class="panel-footer">
                                    <span class="pull-left">Lista de OS</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-file-text"></i> Ordem de Servivços</h3>
                            </div>
                            <div class="panel-body">
                                <%= form_tag root_path , :method => "get" do%>
                                <div class="row">
                                     <div class="form-group col-lg-5 ">
                                          <%= label_tag :data_de, "Data Período", title: "Data Filtro De" %><br>

                                        <div class="input-group">
                                          <span class="input-group-addon">De</span>
                                          <div class="input-group">
                                            <%= text_field_tag :data_de, params[:data_de] , class: "form-control" %>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          </div>
                                          
                                          <span class="input-group-addon">&nbsp;&nbsp;Até&nbsp;</span>

                                          <div class="input-group">
                                          <%= text_field_tag :data_ate, params[:data_ate], title: "Data Filtro Até" , class: "form-control" %>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                          </div>

                                        </div>
                                      </div>  
                                      <div>
                                            <div class="form-group col-lg-1 " >
                                              <%= label_tag :paid, "Pago", :class => "control-label" %><br/>
                                              <%= button_tag "tag" , :class => "pagobtn btn btnstatus "+format_status_os_busca_class(params[:paid]), :type => "button" do %>
                                                <%=format_status_os_busca(params[:paid]) %>
                                              <% end%>
                                              <%= hidden_field_tag :paid, params[:paid].blank? ? "" : params[:paid]%>
                                            </div>
                                        </div> 
                                      <div class="form-group col-lg-1 " style="margin-top:23px">                                        
                                        <%= button_tag :submit, class: "btn btn-primary" do %>
                                            <i class="fa fa-search"></i> Filtrar
                                        <% end %>  
                                     </div>                                    
                                </div>
                                <%end%>
                               <%= high_chart("some_id", @chart) %>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                $(function() {
                    Highcharts.setOptions({
                        lang: {
                            decimalPoint: ',',
                            thousandsSep: '.'
                        }
                    });

                   // $('.input-group.date').datepicker({format:'yyyy',language: "pt-BR",autoclose: true,todayHighlight: true, startView: 0});
                    $('#data_de').datepicker({dateFormat:'yy'})
                    $('#data_de').next().on('click',function(){
                        $('#data_de').next().datepicker('show','datepickereFormat','yy')
                    });

                    $('#data_ate').datepicker({dateFormat:'yy'})
                    $('#data_ate').next().on('click',function(){
                        $('#data_ate').datepicker('show','dateFormat','yy')
                    });
                    
                    ServiceOrder.buttonStatusTodos();
                })
                </script>
                <!--<div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Area Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div style="position: relative;" id="morris-area-chart"><svg style="overflow: hidden; position: relative; top: -0.700012px;" xmlns="http://www.w3.org/2000/svg" width="1215" version="1.1" height="347"><desc>Created with RaphaÃ«l 2.1.2</desc><defs></defs><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="314" x="46.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">0</tspan></text><path stroke-width="0.5" d="M59,314H1190" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="241.75" x="46.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">7,500</tspan></text><path stroke-width="0.5" d="M59,241.75H1190" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="169.5" x="46.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">15,000</tspan></text><path stroke-width="0.5" d="M59,169.5H1190" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="97.24999999999997" x="46.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="3.9999999999999716">22,500</tspan></text><path stroke-width="0.5" d="M59,97.24999999999997H1190" stroke="#aaaaaa" fill="none" style=""></path><text font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="end" y="25" x="46.5" style="text-anchor: end; font: 12px sans-serif;"><tspan dy="4">30,000</tspan></text><path stroke-width="0.5" d="M59,25H1190" stroke="#aaaaaa" fill="none" style=""></path><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="1190" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2012-06</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="1106.1713244228433" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2012-04</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="1023.6596294046172" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2012-02</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="938.4567132442285" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011-12</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="854.6852976913731" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011-10</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="770.8566221142163" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011-08</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="687.0279465370595" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011-06</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="603.1992709599028" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011-04</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="522.0618165249089" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2011-02</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="436.8589003645201" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2010-12</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="353.08748481166464" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2010-10</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="269.2588092345079" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2010-08</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="185.43013365735118" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2010-06</tspan></text><text transform="matrix(1,0,0,1,0,6.5)" font-weight="normal" font-family="sans-serif" font-size="12px" fill="#888888" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="326.5" x="101.60145808019442" style="text-anchor: middle; font: 12px sans-serif;"><tspan dy="4">2010-04</tspan></text><path fill-opacity="1" d="M59,262.8181C90.6075334143378,257.51976666666667,153.82260024301337,246.52452083333333,185.43013365735118,241.62476666666666C217.037667071689,236.7250125,280.25273390036455,230.32913157215518,311.86026731470236,223.62006666666667C343.1099255771568,216.98696490548852,405.60924210206565,190.23488346569982,436.8589003645201,188.2561C467.79362849331716,186.29725846569983,529.6630847509114,206.42939049935148,560.5978128797084,207.86956666666666C592.2053462940462,209.3410654993515,655.4204131227217,198.92260833333333,687.0279465370595,199.90279999999998C718.6354799513973,200.88299166666664,781.8505467800729,233.11470501024823,813.4580801944107,215.7111C844.7077384568652,198.50454667691488,907.207054981774,69.85377259615385,938.4567132442285,61.46216666666666C969.7350015188335,53.062872596153845,1032.2915780680437,136.23467517452008,1063.5698663426488,148.54749999999999C1095.1773997569867,160.9899335078534,1158.392466585662,157.49927499999998,1190,160.48319999999998L1190,314L59,314Z" stroke="none" fill="#7cb47c" style="fill-opacity: 1;"></path><path stroke-width="3" d="M59,262.8181C90.6075334143378,257.51976666666667,153.82260024301337,246.52452083333333,185.43013365735118,241.62476666666666C217.037667071689,236.7250125,280.25273390036455,230.32913157215518,311.86026731470236,223.62006666666667C343.1099255771568,216.98696490548852,405.60924210206565,190.23488346569982,436.8589003645201,188.2561C467.79362849331716,186.29725846569983,529.6630847509114,206.42939049935148,560.5978128797084,207.86956666666666C592.2053462940462,209.3410654993515,655.4204131227217,198.92260833333333,687.0279465370595,199.90279999999998C718.6354799513973,200.88299166666664,781.8505467800729,233.11470501024823,813.4580801944107,215.7111C844.7077384568652,198.50454667691488,907.207054981774,69.85377259615385,938.4567132442285,61.46216666666666C969.7350015188335,53.062872596153845,1032.2915780680437,136.23467517452008,1063.5698663426488,148.54749999999999C1095.1773997569867,160.9899335078534,1158.392466585662,157.49927499999998,1190,160.48319999999998" stroke="#4da74d" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="262.8181" cx="59"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="241.62476666666666" cx="185.43013365735118"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="223.62006666666667" cx="311.86026731470236"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="188.2561" cx="436.8589003645201"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="207.86956666666666" cx="560.5978128797084"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="199.90279999999998" cx="687.0279465370595"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="215.7111" cx="813.4580801944107"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="61.46216666666666" cx="938.4567132442285"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="148.54749999999999" cx="1063.5698663426488"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#4da74d" r="2" cy="160.48319999999998" cx="1190"></circle><path fill-opacity="1" d="M59,288.31753333333336C90.6075334143378,282.5230833333334,153.82260024301337,270.2152958333333,185.43013365735118,265.1397333333333C217.037667071689,260.0641708333333,280.25273390036455,250.48869700903361,311.86026731470236,247.71303333333333C343.1099255771568,244.96879700903364,405.60924210206565,245.29065194329343,436.8589003645201,243.06013333333334C467.79362849331716,240.8520936099601,529.6630847509114,233.05476183527887,560.5978128797084,229.9588C592.2053462940462,226.79550350194552,655.4204131227217,217.89184583333335,687.0279465370595,218.0231C718.6354799513973,218.15435416666668,781.8505467800729,244.42333007667196,813.4580801944107,231.0088333333333C844.7077384568652,217.74622174333862,907.207054981774,119.1766818605006,938.4567132442285,111.31466666666665C969.7350015188335,103.44544852716727,1032.2915780680437,159.82464061954624,1063.5698663426488,168.0839C1095.1773997569867,176.43009895287958,1158.392466585662,175.32334999999998,1190,177.73649999999998L1190,314L59,314Z" stroke="none" fill="#a7b3bc" style="fill-opacity: 1;"></path><path stroke-width="3" d="M59,288.31753333333336C90.6075334143378,282.5230833333334,153.82260024301337,270.2152958333333,185.43013365735118,265.1397333333333C217.037667071689,260.0641708333333,280.25273390036455,250.48869700903361,311.86026731470236,247.71303333333333C343.1099255771568,244.96879700903364,405.60924210206565,245.29065194329343,436.8589003645201,243.06013333333334C467.79362849331716,240.8520936099601,529.6630847509114,233.05476183527887,560.5978128797084,229.9588C592.2053462940462,226.79550350194552,655.4204131227217,217.89184583333335,687.0279465370595,218.0231C718.6354799513973,218.15435416666668,781.8505467800729,244.42333007667196,813.4580801944107,231.0088333333333C844.7077384568652,217.74622174333862,907.207054981774,119.1766818605006,938.4567132442285,111.31466666666665C969.7350015188335,103.44544852716727,1032.2915780680437,159.82464061954624,1063.5698663426488,168.0839C1095.1773997569867,176.43009895287958,1158.392466585662,175.32334999999998,1190,177.73649999999998" stroke="#7a92a3" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="288.31753333333336" cx="59"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="265.1397333333333" cx="185.43013365735118"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="247.71303333333333" cx="311.86026731470236"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="243.06013333333334" cx="436.8589003645201"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="229.9588" cx="560.5978128797084"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="218.0231" cx="687.0279465370595"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="231.0088333333333" cx="813.4580801944107"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="111.31466666666665" cx="938.4567132442285"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="168.0839" cx="1063.5698663426488"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#7a92a3" r="2" cy="177.73649999999998" cx="1190"></circle><path fill-opacity="1" d="M59,288.31753333333336C90.6075334143378,288.04780000000005,153.82260024301337,289.9431583333334,185.43013365735118,287.2386C217.037667071689,284.53404166666667,280.25273390036455,267.87876796477644,311.86026731470236,266.68106666666665C343.1099255771568,265.49692629810977,405.60924210206565,280.0083165247084,436.8589003645201,277.7112333333333C467.79362849331716,275.43729985804174,529.6630847509114,250.66387778858623,560.5978128797084,248.397C592.2053462940462,246.0808194552529,655.4204131227217,256.98270833333333,687.0279465370595,259.379C718.6354799513973,261.7752916666667,781.8505467800729,278.95457833447205,813.4580801944107,267.56733333333335C844.7077384568652,256.3090200011387,907.207054981774,175.85837768047924,938.4567132442285,168.79676666666666C969.7350015188335,161.72868601381256,1032.2915780680437,203.0935642670157,1063.5698663426488,211.04856666666666C1095.1773997569867,219.08730593368236,1158.392466585662,227.34094166666665,1190,232.77173333333332L1190,314L59,314Z" stroke="none" fill="#2577b5" style="fill-opacity: 1;"></path><path stroke-width="3" d="M59,288.31753333333336C90.6075334143378,288.04780000000005,153.82260024301337,289.9431583333334,185.43013365735118,287.2386C217.037667071689,284.53404166666667,280.25273390036455,267.87876796477644,311.86026731470236,266.68106666666665C343.1099255771568,265.49692629810977,405.60924210206565,280.0083165247084,436.8589003645201,277.7112333333333C467.79362849331716,275.43729985804174,529.6630847509114,250.66387778858623,560.5978128797084,248.397C592.2053462940462,246.0808194552529,655.4204131227217,256.98270833333333,687.0279465370595,259.379C718.6354799513973,261.7752916666667,781.8505467800729,278.95457833447205,813.4580801944107,267.56733333333335C844.7077384568652,256.3090200011387,907.207054981774,175.85837768047924,938.4567132442285,168.79676666666666C969.7350015188335,161.72868601381256,1032.2915780680437,203.0935642670157,1063.5698663426488,211.04856666666666C1095.1773997569867,219.08730593368236,1158.392466585662,227.34094166666665,1190,232.77173333333332" stroke="#0b62a4" fill="none" style=""></path><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="288.31753333333336" cx="59"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="287.2386" cx="185.43013365735118"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="266.68106666666665" cx="311.86026731470236"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="277.7112333333333" cx="436.8589003645201"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="248.397" cx="560.5978128797084"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="259.379" cx="687.0279465370595"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="267.56733333333335" cx="813.4580801944107"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="168.79676666666666" cx="938.4567132442285"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="211.04856666666666" cx="1063.5698663426488"></circle><circle stroke-width="1" style="" stroke="#ffffff" fill="#0b62a4" r="2" cy="232.77173333333332" cx="1190"></circle></svg><div style="display: none; left: 253.86px; top: 162px;" class="morris-hover morris-default-style"><div class="morris-hover-row-label">2010 Q3</div><div class="morris-hover-point" style="color: #0b62a4">
  iPhone:
  4,912
</div><div class="morris-hover-point" style="color: #7A92A3">
  iPad:
  1,969
</div><div class="morris-hover-point" style="color: #4da74d">
  iPod Touch:
  2,501
</div></div></div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /.row -->

                <!--<div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"><svg style="overflow: hidden; position: relative; top: -0.299988px;" xmlns="http://www.w3.org/2000/svg" width="364" version="1.1" height="347"><desc>Created with RaphaÃ«l 2.1.2</desc><defs></defs><path opacity="0" stroke-width="2" d="M182,286.6666666666667A110.66666666666667,110.66666666666667,0,0,0,286.48523596313163,212.46843260739092" stroke="#0b62a4" fill="none" style="opacity: 0;"></path><path stroke-width="3" d="M182,289.6666666666667A113.66666666666667,113.66666666666667,0,0,0,289.3176670585177,213.45703469614548L334.0071354523873,229.05497876316207A161,161,0,0,1,182,337Z" stroke="#ffffff" fill="#0b62a4" style=""></path><path opacity="1" stroke-width="2" d="M286.48523596313163,212.46843260739092A110.66666666666667,110.66666666666667,0,0,0,82.72450623569789,127.09716318080183" stroke="#3980b5" fill="none" style="opacity: 1;"></path><path stroke-width="3" d="M289.3176670585177,213.45703469614548A113.66666666666667,113.66666666666667,0,0,0,80.03330309148488,125.77148386943801L33.086759353546825,102.64574477120273A166,166,0,0,1,338.7278539446975,230.70264891108636Z" stroke="#ffffff" fill="#3980b5" style=""></path><path opacity="0" stroke-width="2" d="M82.72450623569789,127.09716318080183A110.66666666666667,110.66666666666667,0,0,0,181.9652330418721,286.66666120548564" stroke="#679dc6" fill="none" style="opacity: 0;"></path><path stroke-width="3" d="M80.03330309148488,125.77148386943801A113.66666666666667,113.66666666666667,0,0,0,181.9642905640915,289.66666105744156L181.9494203591091,336.9999920549685A161,161,0,0,1,37.57209792723518,104.85521029014241Z" stroke="#ffffff" fill="#679dc6" style=""></path><text stroke-width="0.4919678714859437" transform="matrix(2.0327,0,0,2.0327,-187.9429,-180.7143)" font-weight="800" font-size="15px" fill="#000000" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="166" x="182" style="text-anchor: middle; font: 800 15px &quot;Arial&quot;;"><tspan dy="5">In-Store Sales</tspan></text><text stroke-width="0.4337349397590361" transform="matrix(2.3056,0,0,2.3056,-237.6111,-232.3889)" font-size="14px" fill="#000000" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="186" x="182" style="text-anchor: middle; font: 14px &quot;Arial&quot;;"><tspan dy="5">30</tspan></text></svg></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">two days ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order #</th>
                                                <th>Order Date</th>
                                                <th>Order Time</th>
                                                <th>Amount (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>10/21/2013</td>
                                                <td>3:29 PM</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td>$724.17</td>
                                            </tr>
                                            <tr>
                                                <td>3323</td>
                                                <td>10/21/2013</td>
                                                <td>3:00 PM</td>
                                                <td>$23.71</td>
                                            </tr>
                                            <tr>
                                                <td>3322</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                            <tr>
                                                <td>3321</td>
                                                <td>10/21/2013</td>
                                                <td>2:23 PM</td>
                                                <td>$245.12</td>
                                            </tr>
                                            <tr>
                                                <td>3320</td>
                                                <td>10/21/2013</td>
                                                <td>2:15 PM</td>
                                                <td>$5663.54</td>
                                            </tr>
                                            <tr>
                                                <td>3319</td>
                                                <td>10/21/2013</td>
                                                <td>2:13 PM</td>
                                                <td>$943.45</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- /.row -->


