<%= form_for(@customer) do |f| %>
<!--<div class="row customer">-->
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
  <li class="active"><a href="#dados" role="tab" class="btn btn-info" data-toggle="tab"><i class="fa fa-user"></i> Dados</a></li>
  <li class=""><a href="#veiculos" role="tab" class="btn btn-info" data-toggle="tab"><i class="fa fa-truck"></i> Veículos</a></li>
  <li class=""><a href="#phones" role="tab" class="btn btn-info" data-toggle="tab"><i class="fa fa-phone"></i> Telefones / <i class="fa fa-list-ul"></i> Insc. Estadual</a></li>

</ul>
<div >
  <div class="tab-content">
    <div class="tab-pane active" id="dados">
          <%= render :partial => 'pane_data', :locals => {:f => f} %>
    </div>
    <div class="tab-pane" id="veiculos">
          <%= render :partial => 'pane_vehicle', :locals => {:f => f} %>
    </div>
    <div class="tab-pane" id="phones">
      <%= render :partial => 'pane_phone', :locals => {:f => f} %>
    </div>
  </div>
  <div>
    <%= f.button :submit, class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."} do %>
      <i class="fa fa-save"></i> Salvar
    <% end %>

    <% if(@customer.id?) %>
       <%=  link_to @customer , :class => "btn btn-success" do %> 
        <i class="fa fa-eye"></i> Exibir
       <% end %>
    <% end %>

    <%= link_to customers_path, :class => "btn btn-default" do %>
        <i class="fa fa-list-ul"></i> Listar Clientes
    <% end %>
  </div>
  
</div>
<!--</div>-->
<%= render 'layouts/loading_modal' %>

<div id="remover_veiculo_modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
           <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o"></i> Remover</h4>
          </div>
          <div class="modal-body">
            Remover Veículo ?
          </div>  
           <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.table-data-add-veiculos tr.danger').removeClass('danger')">Fechar</button>
            <button type="button" class="btn btn-danger" onclick="Customer.removerVeiculoPopup();">Remover</button>
          </div>      
      </div>
  </div>
</div>


<div id="remover_phone_modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o"></i> Remover</h4>
          </div>
          <div class="modal-body">
            Remover Telefone ?
          </div>  
           <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.table-phones tr.danger').removeClass('danger')">Fechar</button>
            <button type="button" class="btn btn-danger" onclick="Customer.removePhonePopup();">Remover</button>
          </div>      
      </div>
  </div>
</div>

<div id="remover_sr_modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o"></i> Remover</h4>
          </div>
          <div class="modal-body">
            Remover Inscrição Estadual ?
          </div>  
           <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.table-state-registrations tr.danger').removeClass('danger')">Fechar</button>
            <button type="button" class="btn btn-danger" onclick="Customer.removeSRPopup();">Remover</button>
          </div>      
      </div>
  </div>
</div>

<style type="text/css">
  .nav > li > a:hover, .nav > li > a:focus{
    background-color: #2aabd2;
  }
  .has-feedback .form-control-feedback{
    width: 54px;
  }
</style>
<script type="text/javascript">
    jQuery(document).ready(function ($) {        
        Customer.init();
        $("#license_plate").inputmask("aaa-9999");                
        Common.buttonStatus("#customer_status")
    });
</script> 
<% end %>