<div class="row">
            <div class="form-group col-lg-8 has-feedback <%= (not @customer.errors[:cpf_cnpj].empty?) ? "has-error" : "" %>">
                  <%= f.label :cpf_cnpj, "CPF/CNPJ", :class => "control-label" %>
                  <% if (@customer.errors[:cpf_cnpj].empty?) %>
                    <span class="obrigatorio">*</span>
                  <% end %>
                  <%= f.text_field :cpf_cnpj , :class => "form-control", :placeholder => "CPF/CNPJ", :maxlength => "18" %>
                  <% if (@customer.errors[:cpf_cnpj].count >= 1) %>
                    <span class="fa fa-times form-control-feedback"></span>
                  <% end %>          
                  <p class="help-block">
                    <%= @customer.errors[:name].first %>            
                  </p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-8 has-feedback <%= (not @customer.errors[:name].empty?) ? "has-error" : "" %>">
                  <%= f.label :name, "Nome", :class => "control-label" %>
                  <% if (@customer.errors[:name].empty?) %>
                    <span class="obrigatorio">*</span>
                  <% end %>
                  <%= f.text_field :name , :class => "form-control", :placeholder => "Nome", :maxlength => "100" %>
                  <% if (@customer.errors[:name].count >= 1) %>
                    <span class="fa fa-times form-control-feedback"></span>
                  <% end %>
                  <p class="help-block">
                    <%= @customer.errors[:name].first %>
                  </p>
            </div>
          </div>
          <div class="row">
              <div class="form-group col-lg-4">
                    <%= f.label :address, "Endereço", :class => "control-label" %>
                    <%= f.text_field :address , :class => "form-control", :placeholder => "Endereço", :maxlength => "80" %>          
              </div>
              <div class="form-group col-lg-4">
                    <%= f.label :number, "Número", :class => "control-label" %>
                    <%= f.text_field :number , :class => "form-control", :placeholder => "Número", :maxlength => "4" %>          
              </div>
          </div>
          <div class="row">
              <div class="form-group col-lg-8">
                    <%= f.label :address2, "Complemento", :class => "control-label" %>
                    <%= f.text_field :address2 , :class => "form-control", :placeholder => "Endereço", :maxlength => "100" %>          
              </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-8">
                      <%= f.label :neighborhood, "Bairro", :class => "control-label" %>
                      <%= f.text_field :neighborhood , :class => "form-control", :placeholder => "Bairro", :maxlength => "50" %>          
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-2">
                      <%= f.label :cep, "CEP", :class => "control-label" %>
                      <%= f.text_field :cep , :class => "form-control", :placeholder => "CEP"%>          
            </div>
         
            <div class="form-group col-lg-3">
                  <%= f.label :state_id, "Estados/UF", :class => "control-label" %>
                  <%= select_tag :state_id, options_from_collection_for_select(State.all, "id", "name",@id_state), class: "form-control", :prompt => "Selecionar..." %>            
              </div>

              <div class="form-group col-lg-3">
                  <%= f.label :city_id, "Cidades", :class => "control-label" %>
                 <%= f.collection_select :city_id, @cities, :id, :name, {:prompt => "Selecione..."}, {:class => 'form-control'} %>            
              </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-8">
                <%= f.label :email, "E-mail", :class => "control-label" %>
                <%= f.text_field :email , :class => "form-control", :placeholder => "email", :maxlength => "100" %>          
            </div>           
          </div>
           <div class="row">
            <div class="form-group col-lg-8">
                <%= f.label :status, "Status", :class => "control-label" %><br/>
                <%= f.button "tag" , :class => "btn "+format_status_class(@customer.status), :id => "btn-status", :type => "button" do %>
                  <%=format_status(@customer.status) %>
                <% end%>
                <%= f.hidden_field :status%>     
            </div>
          </div>