 <div class="row">
 <div class="form-group col-lg-12"> 	
        <div class="panel panel-warning">
		    <div class="panel-heading">
		        <h3 class="panel-title"><i class="fa fa-phone"></i> Telefones</h3>
		    </div>
		    <div class="panel-body">
		    		<%= button_tag id: "addPhone", class: "addPhone btn btn-success", type: "button" do %>
			                <i class="fa fa-plus"></i> Adicionar
			        <% end %> 
			        <br/>
			        <br/>
			        <table class="table table-bordered table-hover table-data table-phones">
					    <thead>
					      <tr>
					        <th style="width:150px">Número</th>
					        <th>Tipo</th>
					        <th>Contato</th>
					        <th>Operadora</th>
					        <th style="width:40px">Remover</th>
					      </tr>
					    </thead>
					    <tbody>
						    <%= f.fields_for :phones do |p| %>
						    	<tr>
						    		<td><%=p.text_field :number,:class => "form-control phoneNumbers"%></td>
						    		<td><%=p.select :tp, %w[CELULAR FIXO], {:prompt => "Selecionar"}, :class => "form-control" %>	</td>
						    		<td><%=p.text_field :contact,:class => "form-control"%></td>
						    		<td><%=p.select :provider, %w[VIVO CLARO OI TIM OUTROS], {:prompt => "Selecionar"}, :class => "form-control" %></td>
						    		<td>
						    			<%= button_tag id: "removerPhone", class: "removerPhone btn btn-danger center-block", type: "button" do %>
								                <i class="fa fa-trash-o"></i>
								        <% end %> 
								        <%=p.hidden_field :id%>
								    </td>
						    	</tr>
						    <%end%>
						</tbody>
					</table>	
		    </div>
		</div>
 </div>
 <div class="form-group col-lg-12">
        <div class="panel panel-danger">
	    <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-list-ul"></i> Inscrição Estadual</h3>
	    </div>
	    <div class="panel-body">
	    	<%= button_tag id: "adicionarSR", class: "adicionarSR btn btn-success", type: "button" do %>
	                <i class="fa fa-plus"></i> Adicionar
	        <% end %> 
	        <br/>
	        <br/>
	        <table class="table table-bordered table-hover table-data table-state-registrations">
				    <thead>
				      <tr>
				        <th style="width:150px">Número</th>				       
				        <th >Descrição</th>	
				        <th >Estado</th>
				        <th >Cidade</th>
				        <th style="width:40px">Remover</th>
				      </tr>
				    </thead>
				    <tbody>
				    	<% index = 0;%>
					    <%= f.fields_for :state_registrations do |r| %>
					    	<tr>
					    		<td><%=r.text_field :number,:class => "form-control", :maxlenght => "50"%></td>
					    		<td><%=r.text_field :description,:class => "form-control", :maxlenght => "250"%></td>
					    		<td>
					    			<% estado = (r.object.city) ? r.object.city.state.id : '' %>
					    			<%= select_tag "state_id_"+index.to_s, options_from_collection_for_select(State.all, "id", "name",estado), class: "form-control state", :prompt => "Selecionar..." %> 
					    		</td>
					    		<td>
					    			<%= r.collection_select  :city_id, load_cities(estado), :id, :name, {:prompt => "Selecione..."}, {:class => 'form-control city',id: "city_id_"+index.to_s} %>
					    		</td>
					    		<td>
					    			<%= button_tag id: "removerSR", class: "removerSR btn btn-danger center-block", type: "button" do %>
							                <i class="fa fa-trash-o"></i>
							        <% end %> 
							        <%=r.hidden_field :id%>
							    </td>
					    	</tr>
					    	<% index += 1;%>
					    <%end%>
					</tbody>
				</table>
	    </div>
	</div>
 </div>
 </div>