
	<div class="row">
		 <div class="form-group col-lg-6">
	            <div class="panel panel-info">
			    <div class="panel-heading">
			        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar</h3>
			    </div>
			    <div class="panel-body">
			        <%= form_tag search_vehicle_customers_path , :method => "get" do%>
			          <div class="row">
			            <div class="form-group-sm col-lg-4">
			              <%= label_tag(:description, "Descrição") %>
			              <%= text_field_tag(:description, params[:description], class: "form-control") %>
			            </div>
			            <div class="form-group-sm col-lg-4">
			              <%= label_tag(:license_plate, "Placa") %>
			              <%= text_field_tag(:license_plate, params[:license_plate], class: "form-control") %>
			            </div>			           
			          </div>
			          <%= hidden_field_tag(:customerid, @customer.id)%>
			           <div class="row" style="margin-top: 23px;">
			           		<div class="form-group-sm col-lg-4">
				              <%= button_tag id: "buscarVeiculos", class: "btn btn-primary", type: "button" do %>
				                <i class="fa fa-search"></i> Buscar
				              <% end %>              
			              </div>
			            </div>
			        <% end %>
			        <br/>
			        <div id="tabela"></div>
			    </div>
			</div>
	     </div>
	      <div class="form-group col-lg-6">
	            <div class="panel panel-success">
			    <div class="panel-heading">
			        <h3 class="panel-title"><i class="fa fa-truck"></i> Veículos do Cliente</h3>
			    </div>
			    <div class="panel-body">
				    <%# f.fields_for :customer_vehicle, @customer.customer_vehicle.build do |v| %>
				    
				    <%# v.text_field :vehicle_id %>
				    <%#v.text_field :customer_id %>
				    <%#end%>
			        <table class="table table-bordered table-hover table-data table-data-add-veiculos">
					    <thead>
					      <tr>
					        <th>Descrição</th>
					        <th>Placa</th>
					        <th style="width:40px">Remover</th>
					      </tr>
					    </thead>
					    <tbody>					    	
						    <% @vehicles.each_with_index do |vh,idx| %>
						    	<tr data-id="<%=vh.id%>">
						    		<td><%=vh.vehicle.description %></td>
						    		<td><%= format_license_plate(vh.vehicle.license_plate) %></td>
						    		<td >
						    			 <%= button_tag id: "removerVeiculo", class: "removerVeiculo btn btn-danger btn-xs center-block", type: "button" do %>
							                <i class="fa fa-trash-o"></i>
							              <% end %>  
						    		</td>
						    	</tr>
							<%end%>
						</tbody>
					</table>	
					<input type="hidden" id="removerVeiculos" name="removerVeiculos" value=""/>				
			    </div>
			</div>
	     </div>
	</div>

