
<table class="table table-bordered table-hover table-data">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Placa</th>        
        <th style="width:40px">Ação</th>
      </tr>
    </thead>
    <tbody class="table-data-search">
	    <% @vehicles.each do |vh| %>
	    	<tr >
	    		<td><%=vh.description%></td>
	    		<td><%=format_license_plate(vh.license_plate)%></td>	    		
          <td style="text-align:center" data-id="<%=vh.id%>">
             <%= button_tag id: "addVeiculos", class: "addVeiculos btn btn-success btn-xs", type: "button" do %>
                <i class="fa fa-plus"></i>
            <% end %> 
          </td>
	    	</tr>
		<%end%>
	</tbody>
</table>
<div class="row-fluid" align="center">
  <% will_paginate @vehicles , next_label: "»",previous_label: "«", renderer: BootstrapPagination::Rails%>
</div>