<h1>Editar Cliente</h1>

<br class="visible-xs-* visible-md-*" />

<ol class="breadcrumb">
  <li class="active"><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-list-ul"></i> <%= link_to 'Lista de Clientes', customers_path %></li>
      <li class="active"><i class="fa fa-user"></i> Cliente</li>
</ol>
<hr/>
<%= render 'form' %>
