<h1>Lista de Clientes</h1>

<br class="visible-xs-* visible-md-*" />

<ol class="breadcrumb">
  <li ><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-users"></i> Clientes</li>
</ol>
<hr/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar</h3>
    </div>
    <div class="panel-body">
        <%= form_tag find_customers_path , :method => "get" do%>
          <div class="row">
            <div class="form-group-sm col-lg-2">
              <%= label_tag(:name, "Nome") %>
              <%= text_field_tag(:name, params[:name], class: "form-control") %>
            </div>
            <div class="form-group-sm col-lg-2">
              <%= label_tag(:cpf_cnpj, "CPF/CNPJ") %>
              <%= text_field_tag(:cpf_cnpj, params[:cpf_cnpj], class: "form-control") %>
            </div>
            <div class="form-group-sm col-lg-2" style="margin-top: 23px;">
              <%= button_tag :submit, class: "btn btn-primary" do %>
                <i class="fa fa-search"></i> Buscar
              <% end %>              
            </div>
          </div>
        <% end %>
    </div>
</div>
<%= link_to new_customer_path , :class => "btn btn-primary" do %>
  <i class="fa fa-user"> Novo</i>
<% end %>
<br/><br/>
<!--<div class="table-responsive">-->
  <table class="table table-bordered table-hover table-data">
   <thead>
      <tr>
        <th>Nome</th>
        <th class="hidden-sm hidden-xs">CPF/CNPJ</th>
        <th class="hidden-sm hidden-xs">Endereço</th>
        <th class="hidden-sm hidden-xs">Cidade</th>
        <th class="hidden-sm hidden-xs">CEP</th>
        <th class="hidden-sm hidden-xs">E-Mail</th>
        <% if (policy(Customer).show_user_column?) %>
          <th class="hidden-sm hidden-xs">Alterado por</th>
        <% end %>
        <th style="width:98px" class="last"></th>
      </tr>
    </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td class="<%= customer.status == '1' ? 'status-ativo' : 'status-inativo'%>"><%= customer.name %></td>
        <td class="hidden-sm hidden-xs"><%= format_cpf_cnpj(customer.cpf_cnpj) %></td>
        <td class="hidden-sm hidden-xs"><%= customer.address + (customer.number.empty? ? '' : ', '+customer.number) %></td>
        <td class="hidden-sm hidden-xs"><%= customer.city ? customer.city.name + ' - ' + customer.city.state.uf : '' %></td>
        <td class="hidden-sm hidden-xs"><%= format_cep(customer.cep) %></td>
        <td class="hidden-sm hidden-xs"><%= customer.email %></td>
        <% if (policy(Customer).show_user_column?) %>
          <td class="hidden-sm hidden-xs"><%= customer.user.nil? ? "" : customer.user.full_name %></td>
        <% end %>
        <td class="last">
          <div class="btn-group dropup btn-group-table">
              <button type="button" class="btn btn-success" data-toggle="dropdown">Ações</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                 <li><%= link_to customer do %><i class="fa fa-eye"> Exibir</i><% end %></li>
                 <li><%= link_to edit_customer_path(customer) do%><i class="fa fa-edit"> Editar</i><% end %></li>
              </ul>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row-fluid" align="center">
  <%= will_paginate @customers,next_label: "»",previous_label: "«", renderer: BootstrapPagination::Rails%>
</div>
<br>
<!--</div>-->
<%= link_to new_customer_path , :class => "btn btn-primary" do %>
  <i class="fa fa-user"> Novo</i>
<% end %>
<script type="text/javascript">
    jQuery(document).ready(function ($) {  
      $("#cpf_cnpj").on("keyup", function(){
          valor = $(this).val().replace( /\D/g , "");
          if(valor.length <= 11)
            $(this).inputmask({mask:"999.999.999-99[9]"});
          else if(valor.length > 11)
            $(this).inputmask("99.999.999/9999-99");
      });
    });
</script>