<h1>Cliente <strong><%= @customer.name %></strong></h1>
<br class="visible-xs-* visible-md-*" />
<ol class="breadcrumb">
  <li class="active"><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-list-ul"></i> <%= link_to 'Lista de Veículos', customers_path %></li>
  <li class="active"><i class="fa fa-user"></i> Cliente</li>
</ol>
<hr/>
<div class="row">
  <% if (notice) %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<i class="fa fa-truck"></i> <%= notice %>
	</div>
  <% end %>
  
  <div class="col-lg-4">
    <div class="form-group">
        <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-user"></i> Dados</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="col-lg-4-sm control-label">CPF/CNPJ:</label>
              <span class="form-control-static"><%= format_cpf_cnpj(@customer.cpf_cnpj) %></span>
            </div>
            <div class="form-group">
              <label class="col-lg-4-sm control-label">Nome:</label>
                <span class="form-control-static"><%= @customer.name %></span>
            </div>
            <div class="form-group">
              <label class="col-lg-4-sm control-label">Endereço:</label>
                <span class="form-control-static"><%= @customer.address + (@customer.number.empty? ? '' : ', '+@customer.number) %></span>
            </div>
            <div class="form-group">
              <label class="col-lg-4-smcontrol-label">Bairro:</label>
                <span class="form-control-static"><%= @customer.neighborhood%></span>
            </div>
            <div class="form-group">
              <label class="col-lg-4-sm control-label">CEP:</label>
                <span class="form-control-static"><%= format_cep(@customer.cep)%></span>
            </div>
             <div class="form-group">
              <label class="col-lg-4-sm control-label">Cidade:</label>
                <span class="form-control-static"><%= @customer.city ? @customer.city.name : '' %></span>
            </div>
             <div class="form-group">
              <label class="col-lg-4-sm control-label">Estado:</label>
                <span class="form-control-static"><%= @customer.city ? @customer.city.state.name : '' %></span>
            </div>
            <div class="form-group">
              <label class="col-lg-4-sm control-label">E-mail:</label>
                <span class="form-control-static"><%= @customer.email%></span>
            </div> 
             <div class="form-group">
              <label class="col-lg-4-sm control-label">Status:</label>
              <span class="label label-<%=@customer.status == '1' ? 'success' : 'danger' %>"><%= format_status(@customer.status)%></span>
            </div> 
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="panel panel-success col-lg-4-sm">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-truck"></i> Veículos</h3>
          </div>
          <div class="panel-body">
              <table class="table table-bordered table-hover table-data table-data-add-veiculos">
                <thead>
                  <tr>
                    <th>Descrição</th>
                    <th>Placa</th>
                  </tr>
                </thead>
                <tbody>               
                  <% @customer.customer_vehicle.each_with_index do |vh,idx| %>
                    <tr>
                      <td><%=vh.vehicle.description %></td>
                      <td><%= format_license_plate(vh.vehicle.license_plate) %></td>
                    </tr>
                <%end%>
              </tbody>
            </table>  
          </div>     
        </div>
      </div> 
    </div>

    <div class="col-lg-6">  

      <div class="form-group">
        <div class="panel panel-warning">
          <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-phone"></i> Telefones</h3>
          </div>
          <div class="panel-body">
                <table class="table table-bordered table-hover table-data table-phones">
                <thead>
                  <tr>
                    <th style="width:150px">Número</th>
                    <th>Tipo</th>
                    <th>Contato</th>
                    <th>Operadora</th>
                  </tr>
                </thead>
                <tbody>
                  <% @customer.phones.each_with_index do |p| %>
                    <tr>
                      <td><%=format_phone_number(p.number)%></td>
                      <td><%=p.tp %> </td>
                      <td><%=p.contact%></td>
                      <td><%=p.provider %></td>
                    </tr>
                  <%end%>
              </tbody>
            </table>  
          </div>
        </div>
      </div>       
      <div class="form-group">
        <div class="panel panel-danger col-lg-4-sm">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list-ul"></i> Inscrição Estadual</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-data table-state-registrations">
                  <thead>
                    <tr>
                      <th style="width:150px">Número</th> 
                      <th>Descrição</th> 
                      <th>Cidade/Estado</th> 
                    </tr>
                  </thead>
                  <tbody>               
                    <% @customer.state_registrations.each_with_index do |sr,idx| %>
                      <tr>
                        <td><%=sr.number %></td>
                        <td><%=sr.description %></td>
                        <td><%= (sr.city) ? (sr.city.name + " - " + sr.city.state.uf) : ''%></td>
                      </tr>
                  <%end%>
                </tbody>
              </table>  
          </div>
        </div>
      </div>
  </div>  
</div>
<hr/>
<%= link_to new_customer_path , :class => "btn btn-primary" do %>
  <i class="fa fa-user"> Novo</i>
<% end %>

<%= link_to  edit_customer_path(@customer), :class => "btn btn-info" do %>
	<i class="fa fa-edit"></i> Editar
<% end %>

<%= link_to customers_path, :class => "btn btn-default"  do %>
	<i class="fa fa-list-ul"></i> Listar Cliente
<% end %>