<div class="row">
  <div class="col-lg-6" align="left">
	<h2>Entrar</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  	
		<% if(flash[:alert]) %>
			<div class="alert alert-dismissable alert-danger">
            	<button type="button" class="close" data-dismiss="alert">&times;</button>
            	<strong>Ah não...</strong> <%= flash[:alert] %> Caso não se lembre da senha, pode alterá-la acessando o link: <%= link_to "Me esqueci da senha :/", new_password_path(resource_name), :style => "color: #a94442; font-weight: bold;" %>
            </div>
		<% end %>

	  	<div class="form-group has-feedback <%= resource.errors[:email].count >= 1 ? "has-error" : "" %>">
	        <label class="control-label">Email</label>
	        <%= f.email_field :email, placeholder: 'Email', :class => "form-control",  autofocus: true %>
	        <% if (resource.errors[:email].count >= 1) %>
	          <span class="fa fa-times form-control-feedback"></span>
	        <% end %>
	        <p class="help-block">
	          <%= resource.errors[:email].first %>
	        </p>
	    </div>

	    <div class="form-group has-feedback <%= resource.errors[:password].count >= 1 ? "has-error" : "" %>">
	        <label class="control-label">Senha</label>
	        <%= f.password_field :password, placeholder: 'Senha', :class => "form-control", autocomplete: "off" %>
	        <% if (resource.errors[:password].count >= 1) %>
	          <span class="fa fa-times form-control-feedback"></span>
	        <% end %>
	        <p class="help-block">
	          <%= resource.errors[:password].first %>
	        </p>
	    </div>

		<% if devise_mapping.rememberable? -%>
			<div class="checkbox">
                <%= f.check_box :remember_me %>
           	    <%= f.label "Lembrar-me" %>
            </div>
		<% end -%>

	  	<button class="btn btn-primary">
	    	<i class="fa fa-key"></i> Entrar
	    </button>
	<% end %>
	<hr/>
	<%= render "devise/shared/custom_links" %>
  </div>
</div>