<style type="text/css">
  .panel-body{padding: 15px 0}
  .row{margin-left: 0px;}
  ..col-lg-1{padding-right: 0px; }
</style>

<%= form_for(@service_order) do |f| %>
  
  <%= render 'search_customers' %>
  <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Demonstrativo de Serviços Prestados</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-lg-8 has-feedback <%= (not @service_order.errors[:customer].empty?) ? "has-error" : "" %>">
              <%= f.hidden_field :customer_id %>
              <button id="abrirModalClientesButton" class="btn btn-success btn-xs" type="button" data-toggle="modal" data-target="#customerModal">
                <i class="fa fa-search"></i> Pesquisar Clientes
              </button>

              <% if (@service_order.errors[:customer].count >= 1) %>
                <span class="fa fa-times form-control-feedback"></span>
              <% end %>          
              <p class="help-block">
                <%= @service_order.errors[:customer].first %>            
              </p>

              <div id="dados_cliente">
                <p>
                  <strong>Nome/Razão Social: </strong>
                  <span id="customerNameArea">
                    <% if @service_order.customer_id? %>
                      <%= @service_order.customer.name %>
                    <% end %>
                  </span>
                </p>
                <p>
                  <strong>Endereço: </strong>
                  <span id="customerAddressArea">
                    <% if @service_order.customer_id? %>
                      <%= @service_order.customer.address + (@service_order.customer.number.empty? ? '' : ', '+@service_order.customer.number) %>
                    <% end %>
                  </span>
                </p>
                <p>
                  <strong>Telefones: </strong>
                  <span id="customerPhonesArea">
                    <% if @service_order.customer_id? %>
                      <% idx = 0%>
                      <% @service_order.customer.phones.each do  |p| %>
                        <%=format_phone_number(p.number) << (!p.contact.blank? ? ' Contato: ' << p.contact : '') << ( (idx % 2 == 0) ? " / " : "" )
                        %>
                        <%                     
                        idx = idx + 1
                        end
                      %>
                    <% end %>
                  </span>
                </p>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-8 has-feedback <%= (not @service_order.errors[:vehicle].empty?) ? "has-error" : "" %>">
              <%= f.label :vehicle, "Veículo", :class => "control-label" %>
              <% if (@service_order.errors[:vehicle].empty?) %>
                <span class="obrigatorio">*</span>
              <% end %>
              <%= f.collection_select :vehicle_id, @vehicles, :id, lambda{|vehicle| format_license_plate(vehicle.license_plate) << (vehicle.license_plate.blank? ? "" : " - ") << vehicle.description}, {:prompt => "Selecione..."}, {:class => 'form-control'} %> 

              <div id="dados_veiculo" style="display:none">
                <span><strong>: </strong>(17)3333-3333 Contato: Mané / (17) 3333-3333 / (18)4444-4444</span>
              </div>
              <% if (@service_order.errors[:vehicle].count >= 1) %>
                <span class="fa fa-times form-control-feedback"></span>
              <% end %>          
              <p class="help-block">
                <%= @service_order.errors[:vehicle].first %>            
              </p>
        </div>
      </div>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">Serviços Prestados</h3>

          </div>
          
          <table class="table table-bordered table-hover table-data table-data-serv-prestado">
              <thead>
                <tr>
                  <th style="width:165px">Data</th>
                  <th>Serviço Prestado</th>
                  <th style="width:150px">Total</th>
                  <th style="width:35px">Remover</th>
                </tr>
              </thead>
              <tbody>
                <%= f.fields_for :service_order_item do |i| %>
                  <tr data-id="<%=i.object.id%>">
                    <td class="form-group has-feedback <%= (not i.object.errors[:soi_date].empty?) ? "has-error" : "" %>">
                       <div class="input-group date">
                        <%= i.text_field :soi_date, :value => format_date(i.object.soi_date) , :class => 'form-control date'%>
                        <span class="input-group-addon field"><i class="fa fa-calendar"></i></span>
                       </div>
                       <p class="help-block">
                          <%= i.object.errors[:soi_date].first %>
                       </p>
                    </td>
                    <td class="form-group has-feedback <%= (not i.object.errors[:service_order_item_description_id].empty?) ? "has-error" : "" %>">

                      <% item = item_description(i.object.service_order_item_description_id)%>

                      <%= text_field_tag  "desc" << item.id.to_s , item.description, class: 'form-control descricao'  %>
                      <p class="help-block">
                          <%= i.object.errors[:service_order_item_description_id].first %>
                      </p>
                        
                      <%= i.text_field :service_order_item_description_id, :class => 'form-control', :style => 'display:none' %>
                        
                    </td>
                    <td class="form-group has-feedback" style="vertical-align:top">
                      <%= i.text_field :unit_price,value: number_to_currency_br(i.object.unit_price), :class => 'form-control valor' %>
                    </td>                    
                    <td>
                        <%=i.hidden_field :id %>
                       <%=button_tag id: "removerItem", class: "remover-servico-prestado btn btn-danger btn-sm center-block", type: "button", onclick: "ServiceOrder.removerServicoPrestado(this)" do %>
                              <i class="fa fa-trash-o"></i>
                            <% end %>  
                    </td>
                  </tr>
              <%end%>
            </tbody>
          </table>  
          <div class="panel-footer">
            <button class="btn btn-success btn-sm" onclick="ServiceOrder.adicionarServicoPrestado()" type="button">Adicionar</button>
            <span class="pull-right total-geral">Total : 00,00</span>
          </div>
      </div>
      <!--Fim serviços prestados-->
      <div class="row">
        <div class="form-group col-lg-7 <%= (not @service_order.errors[:km_service].empty?) ? "has-error" : "" %>">
          <%= f.label :km_service, "Km do veículo na data do serviço" %><br>
         <%= f.text_field :km_service, :value => @service_order.km_service , class: "form-control", :style => "  z-index:0", :maxlength=>"250"%>    
          <p class="help-block">
              <%= @service_order.errors[:km_service].first %>
            </p>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-3 has-feedback <%= (not @service_order.errors[:payment_date].empty?) ? "has-error" : "" %>">
          <%= f.label :payment_date, "Data Pagamento", :class => "control-label" %><br>
              <div class="input-group date">
              <%= f.text_field :payment_date, :value => format_date(f.object.payment_date) , class: "form-control date", :style => "  z-index:0"%>
              <span class="input-group-addon" id="payment-date"><i class="fa fa-calendar"></i></span>
              </div>
            <p class="help-block">
              <%= @service_order.errors[:payment_date].first %>
            </p>
        </div>
        <div class="form-group col-lg-2 " >
          <%= f.label :paid, "Pago", :class => "control-label" %><br/>
          <%= f.button "tag" , :class => "pagobtn btn btnstatus "+format_status_os_class(@service_order.paid), :type => "button" do %>
            <%=format_status_os(@service_order.paid) %>
          <% end%>
          <%= f.hidden_field :paid%>
        </div>
         <div class="form-group col-lg-2 " >
          <%= f.label :os_created, "Ordem de Serviço", :class => "control-label" %><br/>
          <%= f.button "tag" , :class => "btn btnstatus "+format_status_os_class(@service_order.os_created), :type => "button" do %>
            <%=format_status_os(@service_order.os_created) %>
          <% end%>
          <%= f.hidden_field :os_created%>
        </div>
        <div class="form-group col-lg-3 ">
          <%= f.label :help, "Socorro", :class => "control-label" %><br/>
          <%= f.button "tag" , :class => "btn btnstatus "+format_status_os_class(@service_order.help),  :type => "button" do %>
            <%=format_status_os(@service_order.help) %>
          <% end%>
          <%= f.hidden_field :help%>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-3 ">
          <%= f.label :payment_type, "Tipo Pagamento" %><br>
          <%= f.select :payment_type, options_for_select([['À Vista', 1], ['Cheque', 2], ['Cartão', 3],['30 Dias',4],['60 Dias',5],['90 Dias',6],['Não Pago',7], ['Boleto', 8],['Orçamento',9]],@service_order.payment_type),{ prompt: "Selecionar..."},{ :class => "form-control"} %>           
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-3 ">
          <%= f.label :discount, "Desconto", :class => "control-label" %><br>
          <div class="input-group">
            <span class="input-group-addon">R$</span>
            <%= f.text_field :discount, value: number_to_currency_br(@service_order.discount), :class => "form-control valor" , :style => "  z-index:0" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-12 <%= (not @service_order.errors[:observations].empty?) ? "has-error" : "" %>">
          <%= f.label :observations, "Observações" %><br>
          <%= f.cktext_area :observations , :style => "width:98%", :rows => 10, :class => "form-control" %>    
          <p class="help-block">
              <%= @service_order.errors[:observations].first %>
            </p>
        </div>
      </div>
  </div>
  <div class="panel-footer">
          <%= f.button :submit, class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."} do %>
            <i class="fa fa-save"></i> Salvar
          <% end %>

          <% if(@service_order.id?) %>
             <%=  link_to @service_order , :class => "btn btn-success" do %> 
              <i class="fa fa-eye"></i> Exibir
             <% end %>
          <% end %>

          <%= link_to service_orders_path, :class => "btn btn-default" do %>
              <i class="fa fa-list-ul"></i> Listar OS
          <% end %>
        </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function ($) { 
    ServiceOrder.init();
  });
</script>
<style type="text/css">
  #ui-datepicker-div{
    z-index: 2 !important
  }
</style>
<% end %>
<%= render :partial => 'remover_servico_prestado' %>
<%= render :partial => 'pago_msg_error' %>
<%= render 'layouts/loading_modal' %>


