<div id="pagoMSGError" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
	    <div class="modal-content">
		    <div class="modal-header" style="color:red">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-circle"></i> Erro</h4>
	      	</div>
	      	<div class="modal-body">
	        	<h5><strong style="color:red;">Tipo de pagamento, não pode ser igual a Orçamento ou Não Pago, favor alterar!</strong></h5>
	      	</div>	
	      	 <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>       
	    </div>
  </div>
</div>