<div id="removersp_modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
	    <div class="modal-content">
		    <div class="modal-header">
		       <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
		        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o"></i> Remover</h4>
	      	</div>
	      	<div class="modal-body">
	        	Remover serviço prestado selecionado?
	      	</div>	
	      	 <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('.table-data-serv-prestado tr.danger').removeClass('danger')">Fechar</button>
	            <button type="button" class="btn btn-danger" onclick="ServiceOrder.removerPopup();">Remover</button>
          </div>       
	    </div>
  </div>
</div>