<div class="modal fade" tabindex="-1" id="customerModal" role="dialog" aria-labelledby="clientes_title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
    		<h4 id="clientes_title" class="modal-title"><i class="fa fa-users"></i> Clientes</h4>
    	</div>
    	<div class="modal-body">
			
			<div class="form-group input-group">
				<input id="searchCustomersField" type="text" class="form-control" placeholder="Digite aqui o termo da sua busca">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" id="searchCustomersButton"><i class="fa fa-search"></i></button>
				</span>
			</div>
    		<table id="customersTable" class="table table-bordered table-selectable">
			   <thead>
			      <tr class="header">
			      	<th>Código</th>
			        <th>Nome</th>
			        <!--<th>CPF/CNPJ</th>-->
			      </tr>
			    </thead>

				<tbody>
			      
				</tbody>
			</table>
			<div id="customersTablePagination" align="center">
				<ul class="pagination">
				</ul>
			</div>
    	</div>
    	<div class="modal-footer">
    		<button id="buttonOk" type="button" class="btn btn-primary" data-dismiss="modal">
    			<i class="fa fa-check"></i> Ok
    		</button>

    		<button id="buttonCancel" type="button" class="btn btn-danger" data-dismiss="modal">
    			<i class="fa fa-times"></i> Cancelar
    		</button>
    	</div>
    </div>
  </div>
</div>
