<%= form_tag buscar_service_orders_path , :method => "get" do%>
          <div class="row">
             <div class="form-group col-lg-6" >
              <%= label_tag :id_os, "Número da Ordem de Serviço", title: "Número da Ordem de Serviço", :class => "control-label" %><br/>
              <%= text_field_tag :id_os, params[:id_os] , class: "form-control" %>     
            </div>
          </div>
          <div class="row">
            <div class="form-group col-lg-6">
              <%= label_tag(:customer_name, "Cliente") %><br/>
              <div class="input-group">
                  <%= text_field_tag :customer_name, (@customer.nil? ? "" : @customer.name), class: "form-control"%>
                  
                  <span class="input-group-btn">
                    <button id="abrirModalClientesButton" class="btn btn-success" type="button" data-toggle="modal" data-target="#customerModal">
                        <i class="fa fa-search"></i> 
                    </button> 
                  </span>              
                </div>
              </div>

              <div class="form-group col-lg-4 ">
                <%= hidden_field_tag(:customer_id, params[:customer_id]) %>
                <%= label_tag(:vehicle, "Veículo") %>
                <%= select_tag(:vehicle, options_from_collection_for_select(@customer.nil? ? {} : @customer.customervehicle  , :id, :description,params[:vehicle]),{prompt: "Selecione...", class: "form-control"}) %>
              </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <%= label_tag :created_date_de, "Data de Criação", title: "Data de Criação De" %><br>
              <div class="input-group">
                  <span class="input-group-addon">De</span>
                  <div class="input-group">
                    <%= text_field_tag :created_date_de, params[:created_date_de] , class: "form-control date" %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>                  
                  <span class="input-group-addon">&nbsp;Até&nbsp;</span>
                  <div class="input-group">
                  <%= text_field_tag :created_date_ate, params[:created_date_ate], title: "Data de Criação Até" , class: "form-control date" %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>

                </div>
              </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-4">
              <%= label_tag :payment_date_de, "Data pagamento", title: "Data de Pagamento De" %><br>

              <div class="input-group">
                  <span class="input-group-addon">De</span>
                  <div class="input-group">
                    <%= text_field_tag :payment_date_de, params[:payment_date_de] , class: "form-control" %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                  
                  <span class="input-group-addon">&nbsp;Até&nbsp;</span>

                  <div class="input-group">
                  <%= text_field_tag :payment_date_ate, params[:payment_date_ate], title: "Data de Pagamento Até" , class: "form-control" %>
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>

                </div>
              </div>
          </div>

          <div class="row">
            <div class="form-group col-lg-1 " >
              <%= label_tag :os_created, "OS", title: "Ordem de Serviço", :class => "control-label" %><br/>
              <%= button_tag "tag" , :class => "btn btnstatus "+format_status_os_busca_class(params[:os_created]), :type => "button" do %>
                <%= format_status_os_busca(params[:os_created])%>
              <% end%>
              <%= hidden_field_tag :os_created, params[:os_created].blank? ? "" : params[:os_created]%>
            </div>

            <div class="form-group col-lg-1 ">
              <%= label_tag :help, "Socorro", :class => "control-label" %><br/>
              <%= button_tag "tag" , :class => "btn btnstatus "+format_status_os_busca_class(params[:help]),  :type => "button" do %>
                <%= format_status_os_busca(params[:help])%>
              <% end%>
              <%= hidden_field_tag :help, params[:help].blank? ? "" : params[:help] %>
            </div>

            <div class="form-group col-lg-1 ">
              <%= label_tag :paid, "Pagos", :class => "control-label", title: "Somente Pagos?" %><br/>
              <%= button_tag "tag" , :class => "btn btnstatus "+format_status_os_busca_class(params[:paid]),  :type => "button" do %>
                <%= format_status_os_busca(params[:paid])%>
              <% end%>
              <%= hidden_field_tag :paid, params[:paid].blank? ? "" : params[:paid] %>
            </div>

          </div>
          <hr/>
          <div class="row">           
            <div class="form-group col-lg-4">
              <%= link_to new_service_order_path , :class => "btn btn-primary" do %>
                <i class="fa fa-file-text"> Novo</i>
              <% end %> 
              <%= button_tag :submit, class: "btn btn-default", :type => "button", :onclick => "ServiceOrder.limpaFormularioBusca()" do %>
                <i class="fa fa-eraser"></i> Limpar Busca
              <% end %> 
              <%= button_tag :submit, class: "btn btn-primary" do %>
                <i class="fa fa-search"></i> Buscar
              <% end %>             
            </div>
          </div>
        <% end %>

        <script type="text/javascript">
          $('#payment_date_de').datepicker({dateFormat: 'dd/mm/yy'});
          $('#payment_date_de').next().on('click',function(){
                $('#payment_date_de').datepicker('show','dateFormat','dd/mm/yy');
          });

          $('#created_date_de').datepicker({dateFormat: 'dd/mm/yy'});
          $('#created_date_de').next().on('click',function(){
                $('#created_date_de').datepicker('show','dateFormat','dd/mm/yy');
          });

          $('#payment_date_ate').datepicker({dateFormat: 'dd/mm/yy'});
          $('#payment_date_ate').next().on('click',function(){
                $('#payment_date_ate').datepicker('show','dateFormat','dd/mm/yy');
          });

          $('#created_date_ate').datepicker({dateFormat: 'dd/mm/yy'});
          $('#created_date_ate').next().on('click',function(){
                $('#created_date_ate').datepicker('show','dateFormat','dd/mm/yy');
          });

        </script>