<div id="sendMailDialog" class="modal bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="sendMailModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
	    <div class="modal-content">
	    	<%= form_tag(send_mail_service_orders_path, multipart: true) do %>
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="sendMailModalLabel"><i class="fa fa-mail-forward"></i> Enviar Email</h4>
		      	</div>
		      	<div class="modal-body">
		        	<p>
		        		Envio de Ordem de Serviço. Deseja enviar nota fiscal? Faça o upload do arquivo.
		        	</p>
		        	<hr/>
		        	
		        		<%= hidden_field_tag :so_id%>
		        		<label for="nf_file">Nota Fiscal</label>
	    				<%= file_field_tag :nf_file %>
		        	
		      	</div>	
		      	 <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">
		            	<i class="fa fa-times"></i> Cancelar
		            </button>
		            <%= button_tag :class => "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Enviando email..."} do %>
		            	<i class="fa fa-mail-forward"></i> Enviar
		           	<% end %>
	          	</div>
          	<% end %>
	    </div>
  </div>
</div>
<script type="text/javascript">
	ServiceOrder.initMailingAction();
</script>