<h1>Ordem de Serviços</h1>
<ol class="breadcrumb">
  <li ><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-file-text"></i> Ordem de Serviços</li>
</ol>
<hr/>
<% if (notice) %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="fa fa-company"></i> <%= notice %>
  </div>
  <br/>
<% elsif (alert) %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="fa fa-company"></i> <%= alert %>
  </div>
  <br/>
<% end %>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar</h3>
    </div>
    <div class="panel-body">
        <%= render 'search_os'%>
    </div>

    <table class="table table-bordered table-hover table-data tblso">
    <thead>
      <tr>
        <th title="Número da Ordem de Serviço">N°</th>
        <th >Cliente</th>
        <th class="hidden-sm hidden-xs">Veículo</th>
        <th class="hidden-sm hidden-xs" title="Data Criação">Dt. Criação</th>
        <th class="hidden-sm hidden-xs" title="Data Pagamento">Dt. Pgto</th>
        <th class="hidden-sm" style="padding: 8px 2px; width:6px">Pago</th>
        <th class="hidden-sm hidden-xs" style="padding: 8px 2px; width:6px" title="Ordem de Serviço">OS</th>
        <th class="hidden-sm hidden-xs" style="padding: 8px 2px; width:6px" title="Socorro">Soc.</th>
        <th class="hidden-sm hidden-xs" title="Tipo Pagamento">Tpo Pgto.</th>
        <% if (policy(ServiceOrder).show_user_column?) %>
          <th  style="width:80px">Alterado</th>
        <% end %>
        <th style="min-width:80px" title="Subtotal">Subtotal</th>
        <th style="min-width:80px" title="Desconto">Desconto</th>
        <th style="min-width:80px" title="Total">Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @service_orders.each do |service_order| %>
        <tr>
          <td>
            <%= link_to edit_service_order_path(service_order), title: "Editar OS:"+service_order.id.to_s do%><%=service_order.id%><%end%>
          </td>
          <td><%= link_to service_order.customer , :class => "" do %>
              <i class="fa fa-user"> <%= service_order.customer.name %></i>
            <% end %>
          </td>
          <td class="hidden-sm hidden-xs">
            <% if(not service_order.vehicle.nil?) %>
                <%= link_to service_order.vehicle , :class => "" do %>
                  <i class="fa fa-truck">
                    <%=  (format_license_plate(service_order.vehicle.license_plate) << " " <<  service_order.vehicle.description) %></i>

                <% end %>
            <%end%>
          </td>
          <td class="hidden-sm hidden-xs"><%= service_order.created_at.nil? ? '' : l(service_order.created_at, :format => :short_brev) %></td>
          <td class="hidden-sm hidden-xs"><%= service_order.payment_date.nil? ? '' : l(service_order.payment_date, :format => :short_brev) %></td>
          <td><span class="label label-<%= service_order.paid ? 'success' : 'danger' %>"><%= service_order.paid ? 'Sim' : "Não" %></span></td>
          <td class="hidden-sm hidden-xs"> <span class="label label-<%= service_order.os_created ? 'success' : 'danger' %>"><%= service_order.os_created ? 'sim' : 'não' %></span></td>
          <td class="hidden-sm hidden-xs"><span class="label label-<%= service_order.help ? 'success' : 'danger' %>"><%= service_order.help ? 'sim' : 'não' %></span></td>
          <td class="hidden-sm hidden-xs"><%= tipo_pagamento_desc(service_order.payment_type) %></td>
          <% if (policy(ServiceOrder).show_user_column?) %>
            <td><%= service_order.user.nil? ? "" : service_order.user.full_name %></td>
          <% end %>
          <td><%= number_to_currency( service_order.subtotal ) %></td>
          <td><%= service_order.discount > 0 ? "R$ -" << number_to_currency_br( service_order.discount ).to_s.strip : ""%></td>
          <td><%= number_to_currency( service_order.total ) %></td>
          <td>
            <div class="btn-group dropup btn-group-table">
                <!--<button type="button" class="btn btn-success" data-toggle="dropdown">Ações</button>-->
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" title="Ações">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                   <li><%= link_to service_order do %><i class="fa fa-eye"> Exibir</i><% end %></li>
                   <li>
                    <%= link_to service_order_path(service_order), method: :delete, data: { confirm: "Você tem certeza?" } do %>
                      <i class="fa fa-trash-o"></i> Remover
                    <% end %>
                   </li>
                   <li><%= link_to edit_service_order_path(service_order) do%><i class="fa fa-edit"> Editar</i><% end %></li>
                   <li>
                    <%= link_to report_service_orders_path(service_order), target: "_blank"  do%><i class="fa fa-print"> Imprimir</i><% end %>
                   </li>
                   <li>
                      <%= link_to service_order_path(service_order, format: :pdf), target: "_blank" do %>
                        <i class="fa fa-file-pdf-o"></i> Versão PDF
                      <% end %>
                   </li>
                   <li>
                     <a data-toggle="modal" href="#sendMailDialog" class="send-mail" so-id="<%= service_order.id %>">
                       <i class="fa fa-mail-forward"></i> Enviar Email
                     </a>
                   </li>
                </ul>
              </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row-fluid" align="center">
    <%= will_paginate @service_orders,next_label: "»",previous_label: "«", renderer: BootstrapPagination::Rails%>
  </div>
  <div class="modal-footer">
    <%= link_to new_service_order_path , :class => "btn btn-primary pull-left" do %>
      <i class="fa fa-file-text"> Novo</i>
    <% end %>
  </div>
</div>

<%= render "send_mail" %>

<%= render 'search_customers' %>
<script type="text/javascript">
  jQuery(document).ready(function ($) {
    ServiceOrdersCustomersJS.initCustomersSearchForm("#customer_id", "#customer_name", "", "", "#vehicle");
    ServiceOrder.buttonStatusTodos();
    $('.input-group.date').datepicker({format:'dd/mm/yyyy',language: "pt-BR",autoclose: true,todayHighlight: true});
  });
</script>

<%= render "remover_os"%>
