<div class="row">
  <div class="col-lg-12">
	<h1>Nova Ordem de Serviço</h1>
	<ol class="breadcrumb">
      <li class="active"><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
      <li class="active"><i class="fa fa-list-ul"></i> <%= link_to 'Lista Ordem de Serviços', service_orders_path %></li>
      <li class="active"><i class="fa fa-file-text"></i> Ordem de Serviço</li>
    </ol>
    <hr/> 
<%= render 'form' %>
	
</div>
