<div class="buttonArea">
	<div class="btn-group dropdown">
    <button type="button" class="btn btn-success" data-toggle="dropdown">Ações</button>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li>
        <%= link_to edit_service_order_path(@service_order) do%>
          <i class="fa fa-edit"></i> Editar
        <% end %>
      </li>
      <li>
        <%= link_to service_orders_path do %>
          <i class="fa fa-list-ul"></i> Listar OS
        <% end %>
      </li>
      <li>
        <%= link_to report_service_orders_path(@service_order), target: "_blank"  do%>
          <i class="fa fa-print"></i> Imprimir
        <% end %>
      </li>
      <li>
        <%= link_to service_order_path(@service_order, format: :pdf), target: "_blank" do %>
          <i class="fa fa-file-pdf-o"></i> Versão PDF
        <% end %>
      </li>
    </ul>
  </div>
</div>
<br/>
<div class="row" class="header">
	<div class="col-xs-3" align="right" style="padding-top: 6%">
		<%= image_tag("logo-for-report.jpg") %>
	</div>
	<div class="col-xs-6">

		<div align="center">
			<h3><strong><%= @company.fantasy_name %></strong></h3>
			<br/>
			<p><%= h_address(@company) %></p>
			<p>Tel: <%= @company.phone %> / <%= @company.phone2 %></p>
			<p>E-mail: <%= @company.email %></p>
			<p><%= @company.observation %></p>
		</div>
	</div>
</div>
<hr/>
<br/>
<div align="center">
	<h4>
	    <i>
	      <%= @service_order.payment_type == 9 ? "Orçamento" : "Demonstrativo de serviços prestados" %>
	    </i>
	</h4>
</div>
<br/>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
				Cliente: <%= @service_order.customer.name %>
			</div>
		</div>
		<% unless (@service_order.vehicle.nil?) %>
			<div class="row">
				<div class="col-xs-6">
					Veículo: <%= @service_order.vehicle.description %>
				</div>
				<div class="col-xs-3">
					Ano: <%= @service_order.vehicle.year_model %>
				</div>
				<div class="col-xs-3">
					Placa: <%= @service_order.vehicle.license_plate %>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-xs-12">
				Telefone: <%= get_phones(@service_order.customer) %>
			</div>
		</div>
	</div>
</div>
<table class="table-print">
	<thead>
		<tr>
			<th>DATA</th>
			<th>SERVIÇOS PRESTADOS</th>
			<% unless (@service_order.payment_type == 9) %>
				<th>TOTAL</th>
			<% end %>
		</tr>
	</thead>
	<tbody>

		<% total = 0.0 %>

		<% @service_order.service_order_item.each do |soi| %>

			<% total += soi.unit_price || 0 %>

			<tr>
				<td><%= l(soi.soi_date, :format => :default) %></td>
				<td><%= soi.service_order_item_description.nil? ? "" : soi.service_order_item_description.description %></td>
				<% unless (@service_order.payment_type == 9) %>
					<td align="right"><%= number_to_currency(soi.unit_price || 0 ) %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<% unless (@service_order.observations.blank?)%>
<div class="panel panel-default"  style="margin-top:5px">
  <div class="panel-body" style="padding: 5px 20px 5px 20px;">
    <div class="row">
      <div>
        <strong>Observações:</strong> 
        <br/>
				<%= sanitize @service_order.observations%>
      </div>
    </div>
  </div>
</div>
<% end %>
<% unless (@service_order.payment_type == 9) %>
	<br/>
	<hr/>	
	<div align="right">
		<%if (not @service_order.discount.nil? and @service_order.discount > 0)%>	  
			<h4>Subtotal: R$<span class="formata-total"><%= number_to_currency_br(total) %></span></h4>
		    <h4>Desconto: R$<span class="formata-total">-<%= number_to_currency_br(@service_order.discount) %></span></h4>
		    <br/>	 
		 <%end%>
		<h4>Total:<span class="formata-total"><%= number_to_currency_br(total - @service_order.discount) %></span></h4>
	</div>
<% end %>
