<div class="row">
  <div class="col-lg-10">

    <%= form_for(@company, :url => company_path, html: {role: "form"}) do |f| %>
      
      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:social_name].empty?) ? "has-error" : "" %>">
            <%= f.label :social_name, "Razão Social", :class => "control-label" %>
            <% if (@company.errors[:social_name].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :social_name , :class => "form-control", :placeholder => "Razão Social"%>
            <% if (not @company.errors[:social_name].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:social_name].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:fantasy_name].empty?) ? "has-error" : "" %>">
            <%= f.label :fantasy_name, "Nome de Fantasia", :class => "control-label" %>
            <% if (@company.errors[:fantasy_name].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :fantasy_name , :class => "form-control", :placeholder => "Nome de Fantasia"%>
            <% if (not @company.errors[:fantasy_name].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:fantasy_name].first %>
            </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:cnpj].empty?) ? "has-error" : "" %>">
            <%= f.label :cnpj, "CNPJ", :class => "control-label" %>
            <%= f.text_field :cnpj , :class => "form-control", :placeholder => ""%>
            <% if (not @company.errors[:cnpj].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:cnpj].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:ie].empty?) ? "has-error" : "" %>">
            <%= f.label :ie, "Incrição Estadual", :class => "control-label" %>
            <%= f.text_field :ie , :class => "form-control", :placeholder => ""%>
            <% if (not @company.errors[:ie].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:ie].first %>
            </p>
        </div>
      </div>

      <div class="row">

        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:im].empty?) ? "has-error" : "" %>">
            <%= f.label :im, "Inscrição Municipal", :class => "control-label" %>
            <%= f.text_field :im , :class => "form-control", :placeholder => ""%>
            <% if (not @company.errors[:im].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:im].first %>
            </p>
        </div>

        <div class="form-group col-lg-6  has-feedback <%= (not @company.errors[:email].empty?) ? "has-error" : "" %>">
            <%= f.label :email, "Email", :class => "control-label" %>
            <% if (@company.errors[:email].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :email , :class => "form-control", :placeholder => "Email"%>
            <% if (not @company.errors[:email].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:email].first %>
            </p>
        </div>

      </div>

      <div class="row">

        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:phone].empty?) ? "has-error" : "" %>">
            <%= f.label :phone, "Telefone", :class => "control-label" %>
            <%= f.text_field :phone , :class => "form-control phone"%>
            <% if (not @company.errors[:phone].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:phone].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:phone2].empty?) ? "has-error" : "" %>">
            <%= f.label :phone2, "Telefone 2", :class => "control-label" %>
            <%= f.text_field :phone2 , :class => "form-control phone" %>
            <% if (not @company.errors[:phone2].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:phone2].first %>
            </p>
        </div>

      </div>

      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @company.errors[:address].empty?) ? "has-error" : "" %>">
            <%= f.label :address, "Endereço", :class => "control-label" %>
            <% if (@company.errors[:address].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :address , :class => "form-control", :placeholder => "Endereço"%>
            <% if (not @company.errors[:address].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:address].first %>
            </p>
        </div>

        <div class="form-group col-lg-2 has-feedback <%= (not @company.errors[:address_number].empty?) ? "has-error" : "" %>">
            <%= f.label :address_number, "Número", :class => "control-label" %>
            <%= f.text_field :address_number , :class => "form-control", :placeholder => "1234"%>
            <% if (not @company.errors[:address_number].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:address_number].first %>
            </p>
        </div>

        <div class="form-group col-lg-4 has-feedback <%= (not @company.errors[:address_neighborhood].empty?) ? "has-error" : "" %>">
            <%= f.label :address_neighborhood, "Bairro", :class => "control-label" %>
            <%= f.text_field :address_neighborhood , :class => "form-control", :placeholder => "Bairro"%>
            <% if (not @company.errors[:address_neighborhood].empty?) %>
              <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
            <% end %>
            <p class="help-block">
              <%= @company.errors[:address_neighborhood].first %>
            </p>
        </div>
      </div>

      <div class="form-group has-feedback <%= (not @company.errors[:observation].empty?) ? "has-error" : "" %>">
          <%= f.label :observation, "Informações adicionais", :class => "control-label" %>
          <%= f.text_area :observation , :class => "form-control", :placeholder => "Informações adicionais", :rows => 4 %>
          <% if (not @company.errors[:observation].empty?) %>
            <span class="fa fa-times form-control-feedback" style="padding-right: 20px;"></span>
          <% end %>
          <p class="help-block">
            <%= @company.errors[:observation].first %>
          </p>
      </div>

      <hr>
      <%= f.button :submit, class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."} do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>

      <% if(@company.id?) %>
         <%=  link_to company_path, :class => "btn btn-success" do %> 
          <i class="fa fa-eye"></i> Exibir
         <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    CompanyJS.init();
  });
</script>
<%= render 'layouts/loading_modal' %>
