<h1 class="hidden-sm hidden-xs">Visualizar Dados Empresa</h1>
<br class="visible-xs-* visible-md-*" />
<ol class="breadcrumb">
  <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-eye"></i> Visualizar Dados Empresa</li>
</ol>
<hr/>
<div class="row">
  <% if (notice) %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<i class="fa fa-company"></i> <%= notice %>
	</div>
  <% end %>
  
  <div class="col-lg-4">
	<div class="form-group-sm">
		<label class="col-lg-4-sm control-label">Razão social:</label>
	  	<span class="form-control-static"><%= @company.social_name %></span>
	</div>

	<div class="form-group-sm">
		<label class="col-lg-4-sm control-label">Nome de Fantasia:</label>
	  	<span class="form-control-static"><%= @company.fantasy_name %></span>
	</div>

	<div class="form-group-sm">
		<label class="col-lg-4-sm control-label">CNPJ:</label>
	  	<span class="form-control-static"><%= @company.cnpj %></span>
	</div>

	<div class="form-group-sm">
		<label class="col-lg-4-sm control-label">Inscrição Estadual:</label>
	  	<span class="form-control-static"><%= @company.ie %></span>
	</div>
	
	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Inscrição Municipal:</label>
	  	<span class="form-control-static"><%= @company.im %></span>
	</div>
	
	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">E-mail:</label>
	  	<span class="form-control-static"><%= @company.email %></span>
	</div>

	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Telefones:</label>
	  	<span class="form-control-static"><%= @company.phone %> / <%= @company.phone2 %></span>
	</div>
	
	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Endereço:</label>
	    <span class="form-control-static"><%= h_address(@company) %></span>
	</div>

	<% if (policy(@company).show_user_column?) %>
		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Alterado por:</label>
		    <span class="form-control-static"><%= @company.user.nil? ? "" : @company.user.full_name %></span>
		</div>
	<% end %>

	<div class="form-group-sm">
	    <label class="col-lg-4-sm control-label">Informações adicionais:</label>
	    <span class="form-control-static"><%= @company.observation %></span>
	</div>

  </div>
</div>
<hr/>
<%= link_to  edit_company_path, :class => "btn btn-primary" do %>
	<i class="fa fa-edit"></i> Editar
<% end %>
