<div class="row">
  <div class="col-lg-10">

    <%= form_for(@vehicle, html: {role: "form"}) do |f| %>

      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @vehicle.errors[:description].empty?) ? "has-error" : "" %>">
            <%= f.label :description, "Descrição", :class => "control-label" %>
            <% if (@vehicle.errors[:description].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :description , :class => "form-control", :placeholder => "Descrição do veículo"%>
            <% if (not @vehicle.errors[:description].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @vehicle.errors[:description].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= @vehicle.errors[:chassi].count >= 1 ? "has-error" : "" %>">
          <%= f.label :chassi, "Chassi", :class => "control-label" %>
          <%= f.text_field :chassi , :class => "form-control upper", maxlength: 17 %>
          <% if (@vehicle.errors[:chassi].count >= 1) %>
            <span class="fa fa-times form-control-feedback"></span>
          <% end %>
          <p class="help-block">
            <%= @vehicle.errors[:chassi].first %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @vehicle.errors[:state_id].empty?) ? "has-error" : "" %>">
            <%= label :state, :state_id, "Estados/UF", :class => "control-label" %>
            <%= collection_select :state, :state_id, State.all, :id, :name, {:prompt => "Selecione...", :selected => @vehicle.city ? @vehicle.city.state_id : ""}, {:class => 'form-control'} %>
            <% if (not @vehicle.errors[:state_id].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @vehicle.errors[:state_id].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @vehicle.errors[:city_id].empty?) ? "has-error" : "" %>">
          <%= f.label :city_id, "Cidades", :class => "control-label" %>
          <%= f.collection_select :city_id, @cities, :id, :name, {:prompt => "Selecione..."}, {:class => 'form-control'} %>
          <% if (not @vehicle.errors[:city_id].empty?) %>
            <span class="fa fa-times form-control-feedback"></span>
          <% end %>
          <p class="help-block">
            <%= @vehicle.errors[:city_id].first %>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 has-feedback <%= (not @vehicle.errors[:license_plate].empty?) ? "has-error" : "" %>">
            <%= f.label :license_plate, "Placa", :class => "control-label" %>
            <% if (@vehicle.errors[:license_plate].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :license_plate , :class => "form-control license_plate upper"%>
            <% if (not @vehicle.errors[:license_plate].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @vehicle.errors[:license_plate].first %>
            </p>
        </div>

        <div class="form-group col-lg-6 has-feedback <%= (not @vehicle.errors[:year_model].empty?) ? "has-error" : "" %>">
            <%= f.label :year_model, "Ano/Modelo", :class => "control-label" %>
            <% if (@vehicle.errors[:year_model].empty?) %>
              <span class="obrigatorio">*</span>
            <% end %>
            <%= f.text_field :year_model , :class => "form-control year_model" %>
            <% if (not @vehicle.errors[:year_model].empty?) %>
              <span class="fa fa-times form-control-feedback"></span>
            <% end %>
            <p class="help-block">
              <%= @vehicle.errors[:year_model].first %>
            </p>
        </div>
      </div>

      <div class="form-group">
          <%= f.label :status, "Status", :class => "control-label" %><br/>
          <%= f.button "tag" , :class => "btn "+format_status_class(@vehicle.status), :id => "btn-status", :type => "button" do %>
            <%=format_status(@vehicle.status) %>
          <% end%>
          <%= f.hidden_field :status%>
      </div>

      <hr>
      <%= f.button :submit, class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Salvando..."} do %>
        <i class="fa fa-save"></i> Salvar
      <% end %>

      <% if(@vehicle.id?) %>
         <%=  link_to @vehicle , :class => "btn btn-success" do %> 
          <i class="fa fa-eye"></i> Exibir
         <% end %>
       <% end %>

      <%= link_to vehicles_path, :class => "btn btn-default" do %>
          <i class="fa fa-list-ul"></i> Listar Veículos
      <% end %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    Common.initCombos("#state_state_id","#vehicle_city_id");
    VehiclesJS.initInputMasks();
    $("#vehicle_description").focus();
    Common.buttonStatus("#vehicle_status")
  });
</script>
<%= render 'layouts/loading_modal' %>
