<h1 class="hidden-sm hidden-xs">Lista de Veículos</h1>
<br class="visible-xs-* visible-md-*" />
<ol class="breadcrumb">
  <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li class="active"><i class="fa fa-truck"></i> Veículos</li>
</ol>
<hr/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-search"></i> Buscar</h3>
    </div>
    <div class="panel-body">
        <%= form_tag find_vehicles_path , :method => "get" do%>
          <div class="row">
            <div class="form-group-sm col-lg-2">
              <%= label_tag(:description, "Descrição") %>
              <%= text_field_tag(:description, params[:description], class: "form-control year_model") %>
            </div>
            <div class="form-group-sm col-lg-2">
              <%= label_tag(:license_plate, "Placa") %>
              <%= text_field_tag(:license_plate, params[:license_plate], class: "form-control license_plate") %>
            </div>
            <div class="form-group-sm col-lg-2" style="margin-top: 23px;">
              <%= button_tag :submit, class: "btn btn-primary" do %>
                <i class="fa fa-search"></i> Buscar
              <% end %>              
            </div>
          </div>
        <% end %>
    </div>
</div>

<%= link_to new_vehicle_path , :class => "btn btn-primary" do %>
  <i class="fa fa-truck"> Novo</i>
<% end %>
<br/><br/>
<!--por causa do mobile <div class="table-responsive">-->
  <table class="table table-bordered table-hover table-data">
    <thead>
      <tr>
        <th>Descrição</th>
        <th class="hidden-sm hidden-xs">Placa</th>
        <th class="hidden-sm hidden-xs">Estado</th>
        <th class="hidden-sm hidden-xs">Cidade</th>        
        <th class="hidden-sm hidden-xs">Ano/Modelo</th>
        <th class="hidden-sm hidden-xs">Chassi</th>
        <% if (policy(Vehicle).show_user_column?) %>
          <th>Alterado por</th>
        <% end %>
        <th colspan="3" class="last"></th>
      </tr>
    </thead>

    <tbody>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td class="<%= vehicle.status == '1' ? 'status-ativo' : 'status-inativo'%>"><%= vehicle.description %></td>
          <td class="hidden-sm hidden-xs"><%= format_license_plate(vehicle.license_plate) %></td>
          <td class="hidden-sm hidden-xs"><%= vehicle.city and vehicle.city.state ? vehicle.city.state.name : ''%></td>
          <td class="hidden-sm hidden-xs"><%= vehicle.city ? vehicle.city.name : '' %></td>          
          <td class="hidden-sm hidden-xs"><%= format_year_model(vehicle.year_model) %></td>
          <td class="hidden-sm hidden-xs"><%= vehicle.chassi %></td>
          <% if (policy(Vehicle).show_user_column?) %>
            <td><%= vehicle.user.nil? ? "" : vehicle.user.full_name %></td>
          <% end %>
          <td class="last"><div class="btn-group dropup btn-group-table">
              <button type="button" class="btn btn-success" data-toggle="dropdown">Ações</button>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                 <li><%= link_to vehicle do %><i class="fa fa-eye"> Exibir</i><% end %></li>
                 <li><%= link_to edit_vehicle_path(vehicle) do%><i class="fa fa-edit"> Editar</i><% end %></li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!--</div>-->
<div class="row-fluid" align="center">
  <%= will_paginate @vehicles,next_label: "»",previous_label: "«", renderer: BootstrapPagination::Rails%>
</div>
<br>

<%= link_to new_vehicle_path , :class => "btn btn-primary" do %>
<i class="fa fa-truck"> Novo</i>
<% end %>

<script type="text/javascript">
  $(function() {
    VehiclesJS.initInputMasks();
  });
</script>
