<div class="row">
  <div class="col-lg-12">
	<h1 class="hidden-sm hidden-xs">Novo Veículo</h1>
	<br class="visible-xs-* visible-md-*" />
	<ol class="breadcrumb">
      <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
      <li><i class="fa fa-truck"></i> <%= link_to 'Veículos', vehicles_path %></li>
      <li class="active"><i class="fa fa-truck"></i> Novo</li>
    </ol>
    <hr/>    
  </div>
</div>
<%= render 'form' %>