<h1 class="hidden-sm hidden-xs">Visualizar Veículo</h1>
<br class="visible-xs-* visible-md-*" />
<ol class="breadcrumb">
  <li><i class="fa fa-home"></i> <%= link_to 'Home', root_path %></li>
  <li><i class="fa fa-truck"></i> <%= link_to 'Veículos', vehicles_path %></li>
  <li class="active"><i class="fa fa-eye"></i> Visualizar</li>
</ol>
<hr/>
<div class="row">
  <% if (notice) %>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<i class="fa fa-truck"></i> <%= notice %>
	</div>
  <% end %>
  
  <div class="col-lg-4">
	<!--<form class="form-horizontal" role="form">-->
		<div class="form-group-sm">
			<label class="col-lg-4-sm control-label">Descrição:</label>
		  	<span class="form-control-static"><%= @vehicle.description %></span>
		</div>
		
		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Estado:</label>
		  	<span class="form-control-static"><%= @vehicle.city ? @vehicle.city.state.name : ''%></span>
		</div>
		
		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Cidade:</label>
		  	<span class="form-control-static"><%= @vehicle.city ? @vehicle.city.name : '' %></span>
		</div>
		
		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Placa:</label>
		    <span class="form-control-static"><%= (@vehicle.license_plate ? @vehicle.license_plate[0,3] +"-"+ @vehicle.license_plate[3,6] : '').upcase %></span>
		</div>

		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Ano/Modelo:</label>
		    <span class="form-control-static"><%= @vehicle.year_model ? @vehicle.year_model[0,4] +"-"+ @vehicle.year_model[4,7] : '' %></span>
		</div>
		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Chassi:</label>
		    <span class="form-control-static"><%= @vehicle.chassi%></span>
		</div>
		<div class="form-group-sm">
		    <label class="col-lg-4-sm control-label">Status:</label>
		    <span class="label label-<%=@vehicle.status == '1' ? 'success' : 'danger' %>"><%= format_status(@vehicle.status)%></span>
		</div>
	<!--</form>-->

	</div>
</div>
<hr/>
<%= link_to new_vehicle_path , :class => "btn btn-primary" do %>
<i class="fa fa-truck"> Novo</i>
<% end %>

<%= link_to  edit_vehicle_path(@vehicle), :class => "btn btn-info" do %>
	<i class="fa fa-edit"></i> Editar
<% end %>

<%= link_to vehicles_path, :class => "btn btn-default"  do %>
	<i class="fa fa-list-ul"></i> Listar Veículos
<% end %>
