// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tab-content{		
		border: 1px solid #ddd;
		border-top: none;
		overflow:hidden;
		margin-bottom:10px;
}

.tab-content .tab-pane{
	padding: 10px;
}

@media (min-width:768px) {
	.tab-content{		
		min-height: 470px;
	}
}