@media all {
  #page-wrapper-print {
    width: 90%;
    margin-left: 5%;
    margin-top: 80px;
  }
  #wrapper-print {
    padding-left: 0;
  }
  #wrapper-print hr {
    border-top: 1px solid gray;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  #wrapper-print .panel-default {
    border-color: black;
  }
  #wrapper-print .panel {
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
  }
  #wrapper-print .table-print {
    border: 1px solid black; width: 100%;
  }
  #wrapper-print .table-print tbody td, #wrapper-print .table-print thead th {
    padding: 4px;
    border: 1px solid black;
  }

  .formata-total{
    width:120px;
    text-align:right;
    display:inline-block;
  }
}

@media print {
  .buttonArea {
    display: none;
  }
}
