ul.token-input-list-bootstrap {
  display: block;
  width: 100%;
  height: 28px !important;
  padding: 6px 8px;
  font-size: 12px;
  margin: 0px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
ul.token-input-list-bootstrap li input {
	border: 0;
	/*padding: 3px 8px;*/
	background-color: white;
	margin: 0px 0;
	-webkit-appearance: caret;
}
li.token-input-token-bootstrap { 
  margin: 0px;
  padding: 0px 5px;
  background-color: #D9EDF7;
  /*border: 1px solid #66AFE9;
  height: 22px !important;*/
  outline: 0px none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.025) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  display: inline-block;
}
li.token-input-token-bootstrap p {
display: inline;
padding: 0;
margin: 0;
}
li.token-input-token-bootstrap span {
	color: #a6b3cf;
	margin-left: 5px;
	font-weight: bold;
	cursor: pointer;
}
li.token-input-selected-token-bootstrap {
	/*background-color: darken(@tagBgColor, 5%);
	border: 1px solid darken(@tagBorderColor, 5%);*/
}
li.token-input-input-token-bootstrap {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div.token-input-dropdown-bootstrap {
	background: #fff;
	position: absolute;
  border: 1px solid #CCC;
}
div.token-input-dropdown-bootstrap p {
	margin: 0;
	padding: 5px;
}
div.token-input-dropdown-bootstrap ul {
	margin: 0;
	padding: 0;
}
div.token-input-dropdown-bootstrap ul li {
	list-style-type: none;
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;

}
div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item-bootstrap {
}
div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item2-bootstrap {
}
div.token-input-dropdown-bootstrap ul li.token-input-dropdown-item-bootstrap{
 
}
div.token-input-dropdown-bootstrap ul li em {
font-weight: bold;
font-style: normal;
}
div.token-input-dropdown-bootstrap ul li.token-input-selected-dropdown-item-bootstrap {
  border: 1px solid #D9EDF7;
  background: #D9EDF7;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  /*transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;	*/
  cursor: default;
}
