<div id="loading_modal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
	    <div class="modal-content">
		    <div class="modal-header">
		       <!-- <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
		        <h4 class="modal-title" id="myModalLabel">Loading</h4>
	      	</div>
	      	<div class="modal-body">
	        	<h1 class="text-center"><i class="fa fa-spinner fa-spin"></i></h1>
	      	</div>	      
	    </div>
  </div>
</div>