<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= favicon_link_tag 'favicon.ico' %>
  <title>.:: Mecânica Bálsamo Benz ::.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="window.print();">

	<div id="wrapper-print">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%# link_to "Mecânica", root_path, :class => "navbar-brand" %>
          <img src="<%= asset_path 'logo-interno.png'%>" heigth="95" width="95" style="padding: 5px; margin-left:10px">
        </div>
      </nav>

      <div id="page-wrapper-print">

        <%= yield %>

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

</body>
</html>